{% extends "base.html" %}


{% block login %}
<div class="no_auth_menu">
  <button class="logout_btn" onclick="document.location='{% url 'signup' %}'">Регистрация</button>
</div>

    {% if form.errors %}
        <p>Ваши имя пользователя и пароль не совпали. Пожалуйста, попробуйте еще раз.</p>
    {% endif %}

    {% if next %}
        {% if user.is_authenticated %}
            <p> Вы не имеете доступа к этой странице. Войдите в систему с другими параметрами</p>
        {% else %}
            <div class="reg_btn">
                <div> Войдите в систему, чтобы увидеть эту страницу</div>
            </div>
        {% endif %}


    {% endif %}


    <form method = "POST" action = "{% url 'login' %}">
        {% csrf_token %}
        <table>
            <tr>
                <td>{{ form.username.label_tag }}</td>
                <td>{{ form.username }}</td>
            </tr>
            <tr>
                <td>{{ form.password.label_tag }}</td>
                <td>{{ form.password }}</td>
            </tr>
        </table>
	<br>
        <div align="center"><input type = "submit" value = "Bxoд"/></div>
        <input type = "hidden" name = "next" value = "{{ next }}" />
    </form>

{% endblock login %}
