{% extends 'base.html' %}
{% load static %}
{% block signup %}
{% if messages %}
    <div class="messages">
        {% for message in messages %}
            <div {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</div>
        {% endfor %}
    </div>
{% endif %}
<div class="no_auth_menu">
  <button class="logout_btn" onclick="document.location='{% url 'login' %}'">Вход</button>
</div>
  <h2>Регистрация</h2>
  <form method="post" action="">
    {% csrf_token %}
    {% for field in form %}
      {% if field.name == "agreement" %}
        <p>
          {{ field }} Я ознакомлен с
          <a href="{% url 'download_file' file_type='agreement' %}">договором-офертой</a>
          и принимаю указанные в нем условия
          {% if field.help_text %}
            <small style="color: grey">{{ field.help_text }}</small>
          {% endif %}
          {% for error in field.errors %}
            <p style="color: red">{{ error }}</p>
          {% endfor %}
        </p>
      {% else %}

      <p>
        {{ field.label_tag }}<br>
        {{ field }}
        {% if field.help_text %}
          <small style="color: grey">{{ field.help_text }}</small>
        {% endif %}
        {% for error in field.errors %}
          <p style="color: red">{{ error }}</p>
        {% endfor %}
      </p>
    {% endif %}
    {% endfor %}
    <button type="submit">Зарегистрироваться</button>
  </form>
{% endblock signup %}