/* VARIABLES */
:root {
  --main-bg-color: #eeeeee;
  --main-wrapper-color:   #ffffff;
  --main-wrapper-width: 1000px;
  --main-wrapper-height: 100%;
  --main-wrapper-margin: 0 auto;
}

/* BASE */
html {
/*border: 10px solid black;*/
position: absolute;
top: 0;
bottom: 0;
left: 0;
right: 0;
height: 100%;
}

body {
/*border: 10px dashed red;*/
padding: 0;
margin: 0;
font-family: Verdana, Geneva, Arial, sans-serif;
font-size: 12px;
background-color: var(--main-bg-color);
height: 100%;
overflow-y: scroll;
}


a {
font-weight:      normal;
text-decoration: none;
}

a img {
  border:           0;
}

/*** TABLES ***/
table {
  border-collapse:  collapse;
  width: 100%;
}

td, th {
  padding:          5px;
}

table {
background-color:   #ffffff;
border:             1px solid #DCDCDC;
color:              #2a2a2a;
padding:            5px 5px 2px;
border-collapse:    collapse;
font-size: 12px;
}

td, th {
border:             1px solid #A6A6A6;
}

input {
outline: none;
}

form {
  margin: 0;
}

select {
  width: 100%;
  padding: 1px;
  cursor: pointer;
  outline: none;
}

textarea {
  width: 100%;
}


/* MAIN */
.wrapper {
/* outline: 1px solid yellow; */
background-color: var(--main-wrapper-color);
width: var(--main-wrapper-width);
height: var(--main-wrapper-height);
margin: var(--main-wrapper-margin);
display: grid;
grid-template-columns: 1fr;
grid-auto-rows: 100px 40px 1fr 30px;
}

.login_logout_signup_wrapper {
background-color: var(--main-wrapper-color);
width: var(--main-wrapper-width);
height: var(--main-wrapper-height);
margin: var(--main-wrapper-margin);
padding: 20px;
}

.login_logout_signup_wrapper .login_logout_signup {
width: 600px;
padding: 40px;
border: 1px solid grey;
margin: var(--main-wrapper-margin);
}


.no_auth_menu {
text-align: right;
margin-bottom: 20px;
}


.header {
/* outline: 1px solid grey; */
border: 1px solid grey;
border-top: none;
}


.navbar {
/* outline: 1px solid red;*/
display: flex;
align-items: center;
justify-content: right;
padding-right: 20px;
border-left: 1px solid grey;
border-right: 1px solid grey;
border-bottom: 1px solid grey;
}

.content {
/* outline: 1px solid grey; */
border-left: 1px solid grey;
border-right: 1px solid grey;
background: white;
}


.content h2, .content .description, .content  .option_wrap {
padding: 0 40px 0 40px;
}

.content h2 {
text-align: center;
margin: 30px 0 20px 0;
}

.content .description {
margin: 20px 0 30px 0;
font-size: 14px;
}

.content .option_wrap {
margin: 40px 0;
}

.content iframe {
margin: 0 auto;
width: 100%;
height: 85%;
border: none;
border-top: 1px solid #f1f1f1;
border-bottom: 1px solid #f1f1f1;
}

.footer {
/* outline: 1px solid grey;*/
border: 1px solid grey;
border-bottom: none;
background: white;
}


.login {
padding: 50px;
}

.top_menu {
text-align: right;
padding: 10px;
}

.logout_btn {
cursor: pointer;
}


.pageheader {
font-weight: bold;
font-size: 18px;
/* outline: 1px solid grey; */
text-align: center;
}


.client_info {
text-align: left;
padding: 10px;
}

.reg_btn {
display: grid;
background-color:   #ffffff;
margin: 0 auto;
display: grid;
grid-template-columns: 1fr 1fr;
grid-auto-rows: 1fr;
padding: 10px;
}

.reg_btn div:nth-child(1) {
align-self: center;
}

.reg_btn div:nth-child(2) {
text-align: right;
align-self: center;
}



.messages div.info { background-color: #e2e3ec; padding: 15px;}
.messages div.error { background-color: #FCE4D6; padding: 15px;}
.messages div.success { background-color: #92D050; padding: 15px;}


