.order_wrapper {
outline: 1px solid grey;
background-color:   #ffffff;
width: 50%;
margin: 0 auto;
display: grid;
grid-template-columns: 1fr 1fr;
grid-row-gap: 20px;
padding: 20px;
}

.order_wrapper .form_header {
  grid-column: 1 / 3;
  text-align: center;
}

.order_wrapper .pickup_point {
grid-column: 1 / 3;
display: none;
text-align: left;
padding: 5px;
background-color: #e2e3ec;
}

.order_wrapper .pickup_point div {
padding: 10px;
}



.order_wrapper .ta {
width: 99%;
grid-column: 1 / 3;
}


.order_wrapper .submit_btn {
 text-align: right;
 padding-right: 10px;
}

