<!DOCTYPE html>
{% load static %}
<html lang="en">
	<head>
		<link href="{% static 'css/main.css' %}" rel="stylesheet">
	    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	    <title>{% block title %} {% endblock title %}</title>
	    {% block head %} {% endblock head %}
	</head>
	<body>
	{% if request.user.is_authenticated %}
		<div class="wrapper">
		    <div class="header">
				<div class="top_menu">
					{{ request.user }} ({{ request.user.first_name }} {{ request.user.last_name }}) |
					<button class="logout_btn" onclick="document.location='{% url 'logout' %}'">Выход</button>
				</div>

				{% block header %} {% endblock header %}
		    </div>

		    <div class="navbar">
  				<div>
					  <a href = "{% url 'index' %}">Главная </a> |
					  <a href = "{% url 'pickup_point_list' %}">Список адресов ПВЗ</a> |
					  <a href = "{% url 'supply' %}">Поставка на склад</a> |
					  <a href = "{% url 'order_statuses' %}">Статусы заказов </a> |
					  <a href = "{% url 'excel_upload' %}">Загрузка файла Excel </a>
				</div>
				{% block navbar %} {% endblock navbar %}
		    </div>

		    <div class="content">
				{% if messages %}
					<div class="messages">
						{% for message in messages %}
							<div {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</div>
						{% endfor %}
					</div>
				{% endif %}
				{% block content %}{% endblock content %}</div>
		    <div class="footer">{% block footer %}{% endblock footer %}</div>
			</div>
		{% else %}
			<div class="login_logout_signup_wrapper">
				<div class="login_logout_signup">
					{% block logout %}{% endblock logout %}
					{% block login %}{% endblock login %}
					{% block signup %}{% endblock signup %}
				</div>
			</div>
		{% endif %}
	</body>
</html>
