{% extends "base.html" %}
{% load static %}

{% block title %} {{ page.title }} {% endblock title %}
{% block head %}
<link href="{% static 'css/index.css' %}" rel="stylesheet">
<link href="{% static 'css/pickup_point_list.css' %}" rel="stylesheet">
{% endblock head %}

{% block header %}

{% endblock header %}

{% block navbar %}
{% endblock navbar %}



{% block content %}
{% include "menu_page_template.html" %}
<div class="option_wrap">
    <div class="download_pickup_points_file"><a href="{% url 'download_file' file_type='pickup_points' %}">Скачать список ПВЗ (excel)</a></div>
    <div class="mp_tables_wrap">
        {%  for marketplace in marketplaces %}
            {% if  marketplace.pickup_points.all %}
            <table>
                <tr><th>{{ marketplace }}</th></tr>
            {% for pickup_point in marketplace.pickup_points.all %}
                <tr><td>{{ pickup_point.address }}</td></tr>
            {% endfor %}
            </table>
            {% endif %}
        {% endfor %}
    </div>
</div>
{% endblock content %}

{% block footer %}  
{% endblock footer %}
