{% extends "base.html" %}
{% load static %}

{% block title %} {{ page.title }} {% endblock title %}
{% block head %}
<link href="{% static 'css/index.css' %}" rel="stylesheet">
<link href="{% static 'css/supply.css' %}" rel="stylesheet">

{% endblock head %}

{% block header %}

{% endblock header %}

{% block navbar %}
{% endblock navbar %}

{% block content %}
<input type="hidden" id="data" value="{{data}}"/>
{% include "menu_page_template.html" %}
<div class="option_wrap">
	<form action="{% url 'supply' %}" method="POST" id="form_choice">
		{% csrf_token %}

		<div class="order_wrapper">
			<div class="form_header">Оформление заявки на поставку</div>
			<div class="lable"> Выберете склад:</div>
			<div class="input">
				<select name="sales_channel" id="sales_channel" required>
					<option value="" disabled selected>--- выберете вариант ---</option>
					{% for channel in sales_channels %}
						<option value="{{ channel.id }}">{{ channel.name }} </option>
					{% endfor %}
				</select>
			</div>
			<div class="pickup_point">
				<div>Адрес склада: {{ warehouse.address }}</div>
				<div>Часы работы: {{ warehouse.opening_hours }}</div>
				<div>Как добраться: {{ warehouse.how_to_get_there }}</div>
			</div>


			<div class="pickup_point">Часы работы: {{ warehouse.opening_hours }}</div>
			<div class="pickup_point">Как добраться: {{ warehouse.how_to_get_there }}</div>

			<div class="lable comment_to_order">Комментарий к заказу:</div><div class="input"></div>
			<div class="ta"><textarea rows="5" name="comment"></textarea></div>
			<div id="xxx"></div><div class="submit_btn"><input type="submit" value="Отправить"></div>
		</div>
	</form>
</div>
<script src="{% static 'js/supply.js' %}"></script>
{% endblock content %}

{% block footer %}  
{% endblock footer %}


